* {
    margin: 0;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.principal {
    background-color: black;
    width: 700px;
    height: 400px;
    color: rgb(212, 212, 212);
    border: 5px solid wheat;
    border-radius: 100px;
    position: absolute;
    left: 25%;
    top: 23%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.roxa {
    width: 80px;
    height: 80px;
    background-color: purple;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border:2px solid rgb(74, 7, 138);
    border-radius: 100px;
}